/Builds
/Project/Unity/PortalShift/Library
/Project/Unity/PortalShift/.idea
/Project/Unity/PortalShift/Logs
/Project/Unity/PortalShift/obj
/Project/Unity/PortalShift/Temp
/Project/Unity/PortalShift/UserSettings
/Project/Unity/PortalShift/Assembly-CSharp.csproj
/Project/Unity/PortalShift/PortalShift.sln
/Project/Unity/PortalShift/.vsconfig
/Project/Unity/PortalShift/Assets/EditorThemes
